@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.manrope-font {
    font-family: "Manrope", sans-serif;
}

/* common CSS strats here........... */
.dark1 {
    color: #1C1C1C;
}

.dark2 {
    color: #494949;
}

.dark3 {
    color: #777777;
}

.dark7 {
    color: #F4F4F4;
}

.title {
    font-size: 2.5rem;
    font-weight: 800;
    margin-bottom: 20px;
    color: #1C1C1C;
    ;
}

.sub-title {
    font-size: 1.25rem;
    font-weight: 800;
    margin-bottom: 20px;
    color: #1C1C1C;
    ;
}

.describtion {
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 20px;
    color: #777777;
}

.page-setup {
    width: 90%;
    margin: 0 auto 100px auto;
}


/* common CSS ends here........... */



/* navbar section starts here............... */
.navbar-container {
    display: flex;
    gap: 15px;

}

.navbar-title {
    font-size: 5rem;
    font-weight: 800;
}

.navbar-describtion {
    font-size: 1.25rem;
    font-weight: 500;
    margin: 30px 0;
}

.btn-primary {
    padding: 18px;
    background-color: rgba(255, 0, 0, 1.00);
    font-size: 1.25rem;
    font-weight: 700;
    color: #FFFFFF;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

.navbar-content {
    width: 50%;
    /* border: 2px solid red; */
}

.navbar-img-container {
    width: 50%;
    /* border: 2px solid rgb(78, 8, 207); */
    position: relative;

}

.navbar-img-container>img {
    width: 100%;
    height: 100%;

}

.Rating-container {
    display: flex;
    gap: 5px;
    justify-content: space-evenly;
    padding: 10px 10px;
    align-items: center;
    background-color: #FFF;
    width: 250px;
    border-radius: 10px;
    position: absolute;
    bottom: 100px;
    left: 30px;
    box-shadow: 0px 7px 50px 0px rgba(0, 0, 0, 0.06);

}

.fa-solid {
    color: #FFDC64;
    font-size: 2rem;
    padding: 20px;
}

.five-thousand {
    font-size: 1.8rem;
    font-weight: 800;
}

.rating {
    font-size: 1rem;
    font-weight: 600;
}

/* navbar section ends here............... */

/* featuere secton starts here............. */
.content {
    width: 50%;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}

/* feature secton ends here............. */


/* feature card secton starts here............. */
.card-container {
    display: flex;
    gap: 25px;
    justify-content: space-between;
    align-items: center;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(to bottom, rgb(244, 244, 244), rgba(244, 244, 244, 0) 100%);
    border-radius: 10px;
    height: 400px;
}

.card-img {
    width: 100%;
    height: 100%;
    padding: 30px 60px 0 60px;

}

.card-content {
    padding: 0 30px 30px 30px;
    text-align: center;
}

.card-title {
    font-size: 1.5rem;
    font-weight: 800;
    margin: 30px 0 10px 0;
}

/* feature card secton ends here............. */

/* great tea section starts here............... */
.great-tea-container {
    display: flex;
    justify-content: space-between;
}

.great-tea-img,
.great-tea-content {
    width: 50%;
}

.great-tea-img-container {
    display: grid;
    height: 390px;
    grid-template-columns: 230px 230px;
    grid-template-rows: repeat(3, 1fr);
    /* grid-template-rows: 130px 130px; */
    /* justify-items: center;
    align-items: center; */
    grid-gap: 30px;

}

.card1 {
    grid-row: 1 / span 1;
    background-color: #FFEEE9;
    border-radius: 10px;
}

.card2 {
    grid-row: 1 / span 2;
    background-color: rgba(230, 166, 35, 0.10);
    border-radius: 10px;
    text-align: center;
    padding: 40px 45px;
}

.card3 {
    grid-row: 2 / span 2;
    border-color: rgba(87, 118, 57, 0.10);
    text-align: center;
    background-color: rgba(87, 118, 57, 0.10);
    border-radius: 10px;
    padding: 40px 45px;

}

.card4 {
    grid-row: 3 / -1;
    border-radius: 10px;
    background: linear-gradient(to left, rgba(217, 217, 217, 0), rgba(217, 217, 217, 1.00));

}

.card2>img,
.card3>img {
    width: 100%;
    height: 100%;
}


/* great tea section ends here............... */

/* news section starts here................ */
.news-content {
    width: 65%;
    margin: 0 auto 50px auto;
    text-align: center;

}

.news-card {
    border-radius: 10px;
}

.news-card-container {
    display: flex;
    gap: 25px;
}

.there-part {
    width: 33.33%;
}

.news-card {
    padding: 20px;
    box-shadow: 0px 0px 4px 0px #D2D2D2;
}

.img-wrapper>img {
    width: 100%;
    height: 100%;
}

.date {
    font-size: 1rem;
    font-weight: 500;
}

.learn-more {
    font-size: 1rem;
    font-weight: 600;
}

/* news section ends here................ */


/* footer section starts here................. */
footer {
    height: 700px;
    background: linear-gradient(270.00deg, rgba(255, 0, 0, 0.1), rgba(255, 137, 56, 0.1) 100%);
    ;
}

.footer-top-container {
    padding: 100px;
    display: flex;
    justify-content: space-between;
}

.ready {
    margin-right: 40px;
}

.footer-middle-container {
    display: flex;
    justify-content: space-between;
}

.quick-links,
.our-service,
.help,
.subscribe {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.quick-links,
.our-service,
.help,
.subscribe,
p>a {
    text-decoration: none;
    color: #494949;
}

.rights {
    text-align: center;
}

.subscribe>input {
    height: 50px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #494949;
    margin-bottom: 30px;
    font-size: 1rem;
    outline: none;


}

::placeholder {
    font-size: 1rem;
}

.fa-brands {
    margin-right: 25px;
}

/* footer section ends here................. */

@media screen and (max-width:576px) {

    /* navbar responsive starts here.............. */
    .navbar-container {
        flex-direction: column;
        gap: 15px;

    }

    .navbar-title {
        font-size: 3rem;
    }

    .navbar-content {
        width: 100%;
        /* border: 2px solid red; */
    }

    .navbar-img-container {
        width: 100%;
    }

    .Rating-container {
        position: absolute;
        bottom: 0px;
        left: 30px;
    }

    /* navbar responsive ends here.............. */


    /* featuere secton starts here............. */
    .content {
        width: 100%;
    }

    .title {
        font-size: 1.8rem;
    }

    /* feature secton ends here............. */


    /* feature card secton starts here............. */
    .card-container {
        flex-direction: column;
        gap: 25px;
    }

    .card-img {
        width: 80%;
        height: 80%;
    }


    /* feature card secton ends here............. */


    /* great tea section starts here............... */
    .great-tea-container {
        flex-direction: column;
        justify-content: space-between;
        gap: 50px;
    }

    .great-tea-img,
    .great-tea-content {
        width: 90%;
    }

    .great-tea-img-container {
        grid-template-columns: 180px 180px;
    }

    /* great tea section ends here............... */


    /* news section starts here................ */
    .news-content {
        width: 100%;
    }

    .news-card-container {
        flex-direction: column;
    }

    .there-part {
        width: 100%;
    }

    /* news section ends here................ */

    /* footer section starts here................. */
    footer {
        height: auto;
    }

    .footer-top-container {
        padding: 50px 20px;
    }

    .footer-top-container>img {
        width: 50px;
    }

    .ready {
        margin-right: 10px;
    }

    .footer-middle-container {
        flex-direction: column;
        justify-content: space-between;
        gap: 30px;
    }

    .rights{
        padding-bottom: 50px;
    }

    /* footer section ends here................. */

}